{% extends "flicket_base.html" %}
<!-- extend from base layout -->
{% block content %}
    <!-- {{ self._TemplateReference__context.name }} -->

    <div class="container">

        <div class="row m-2 p-2 border rounded bg-white">
            <div class="col">
                <h1>{{ title }}</h1>
            </div>
        </div>

        <div class="row m-2 p-2 border rounded bg-white">
            <div class="col">
                <h2 class="flicket-title">#{{ ticket.id_zfill }} - {{ ticket.title }}</h2>
                <p>
                    {{ _('Type institute and/or domain and pick from drop down list to change domain.') }} <a
                        href="{{ url_for('flicket_bp.institutes') }}" target="_blank">Available institutes and
                    domains</a>.
                </p>
                <form action=""
                      class="form-horizontal"
                      enctype="multipart/form-data"
                      method="post"
                      name="change_institute_domain">
                    {{ form.hidden_tag() }}


                    <div class="row">
                        <label class="col-2 col-form-label" for="autocomplete-institute_domain">
                            {{ form.institute_domain.label }}
                        </label>
                        <div class="col-3">
                            {{ form.institute_domain(class="form-control form-control-sm", id="autocomplete-institute_domain") }}
                        </div>
                        <div class="col-6">
                            {{ form.submit }}
                        </div>
                    </div>
                    {% if form.institute_domain.errors %}
                        <div class="alert alert-warning small">
                            {% for error in form.institute_domain.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>


    </div>

    {% include('flicket_apijson_institute_domains.html') %}
{% endblock %}
