<script type="text/javascript">
    $(function () {
        $('#team').change(function () {
            var id = $(this).val();
            if (id != 0) {
                $.ajax({
                    url: '/flicket-api/requests/?team_id=' + id,
                    datatype: 'json',
                    headers: {
                        'Authorization' : 'Bearer {{ g.user.token }}'
                    },
                    success: function (data) {

                        // use uri.js to pass the page uri
                        // didn't use parseQuery because I got unexpected behaviour. it wouldn't filter keyword request properly
                        // I should probably backport this to other restjson html files.
                        var result = URI.parse(document.URL);
                        // get value of request in uri
                        result = result.query;
                        result = URI.parseQuery(result).request;

                        var request = document.getElementById('request');
                        $(request).empty();
                        $(request).append($('<option></option>').text('--requests--').val('0'));
                        for (var i = 0; i < data._meta.total_items; i++) {
                            var cat_id = data.items[i].id;
                            var cat_name = data.items[i].request;
                            $(request).append($('<option></option>').text(cat_name).val(cat_id));
                        }

                        // set the preselected value
                        if (result) {
                            // find id of request
                            for (var item in data.items) {
                                var c = data.items[item].request;
                                if (c === result) {
                                    var request_id = data.items[item].id
                                }
                            }
                            $(request).val(request_id)
                        }
                    }
                });
            } else {
                var request = document.getElementById('request');
                $(request).empty();
                $(request).append($('<option></option>').text('--requests--').val('0'));
            }

        }).change();
    })
</script>