<script type="text/javascript">

    $(document).ready(function () {
        $.ajax({
            url: '/flicket-api/teams/',
            datatype: 'json',
            headers: {
                'Authorization': 'Bearer {{ g.user.token }}'
            },
            success: function (data) {

                // use uri.js to pass the page uri
                var result = URI.parse(document.URL);
                // get value of team in uri
                result = result.query;
                result = URI.parseQuery(result).team;

                // populate the team selection inputs
                var team = document.getElementById('team');
                $(team).empty();
                $(team).append($('<option></option>').text('--teams--').val('0'));
                for (var i = 0; i < data._meta.total_items; i++) {
                    var dep_id = data.items[i].id;
                    var dep_name = data.items[i].team;
                    $(team).append($('<option></option>').text(dep_name).val(dep_id));
                }

                // set the preselected value
                if (result) {
                    // find id of team
                    for (var item in data.items) {
                        var d = data.items[item].team;
                        if (d === result) {
                            var team_id = data.items[item].id
                        }
                    }
                    $(team).val(team_id)
                }

            }
        });
    })
</script>