{% extends "flicket_base.html" %}
<!-- extend from base layout -->
{% block content %}
    <div class="container">
        <div class="row bg-white m-2 border round">
            <div class="col">
                <h1>{{ title }}</h1>
                <p>{{ _('If you require new teams and / or domains added / deleted, please raise a ticket.') }}</p>
            </div>
        </div>


        <div class="row m-2 bg-white border rounded p-2">
            <form action=""
                  class="col form form-inline"
                  enctype="multipart/form-data"
                  method="post"
                  name="create_ticket">
                {{ form.hidden_tag() }}
                <label class="sr-only">{{ form.team.label }}</label>
                <div class="col-md-6 col-12 mb-1">
                    {{ form.team(class="form-control form-control-sm", placeholder="team") }}
                </div>
                <div class="col-md-6 col text-center">
                    {{ form.submit }}
                </div>
                {% if form.team.errors %}
                    <div class="alert alert-warning small">
                        {% for error in form.team.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </form>
        </div>


        <ul class="pagination pagination-sm m-2">
            <li class="page-item {% if not teams.has_prev -%} disabled {%- endif -%} ">
                <a class="page-link"
                   href="{{ url_for('flicket_bp.teams', page=teams.prev_num, **request.args) }}">
                    <<
                </a>
            </li>

            {%- for page in teams.iter_pages() -%}
                {%- if page -%}
                    {%- if page != teams.page -%}
                        <li class="page-item">
                            <a class="page-link"
                               href="{{ url_for('flicket_bp.teams', page=page, **request.args) }}">
                                {{ page }}
                            </a>
                        </li>
                    {%- else -%}
                        <li class="page-item active">
                            <a class="page-link active"
                               href="{{ url_for('flicket_bp.teams', page=page, **request.args) }}">
                                {{ page }}
                            </a>
                        </li>
                    {%- endif -%}
                {%- else -%}
                    <li class="page-item">
                        <a class="page-link" href="">...</a>
                    </li>
                {%- endif -%}
            {%- endfor -%}

            <li class="page-item {% if not teams.has_next -%} disabled {%- endif -%} ">
                <a class="page-link"
                   href="{{ url_for('flicket_bp.teams', page=teams.next_num, **request.args) }}">
                    >>
                </a>
            </li>

        </ul>

        <div class="row m-2 border rounded bg-white">
            <div class="col">
                <div class="row border-bottom p-2">
                    <div class="col">
                        {{ _('Team') }}
                    </div>
                    <div class="col">
                        {{ _('Categories') }}
                    </div>
                </div>
                {%- for d in teams.items -%}
                    <div class="row p-2">
                        <div class="col">
                            {{ d.team }}
                            {%- if g.user.is_admin or g.user.is_super_user -%}

                                <a href="{{ url_for('flicket_bp.team_edit', team_id=d.id) }}"
                                   title="edit">
                                    <i class="fas fa-edit"></i>
                                </a>

                                <a href="{{ url_for('flicket_bp.delete_team', team_id=d.id) }}"
                                   title="delete">
                                    <i class="fas fa-trash" style="color: red"></i>
                                </a>

                            {%- endif -%}
                        </div>
                        <div class="col">
                            {%- for c in d.domains -%}
                                {{ c.domain }}
                                {%- if g.user.is_admin or g.user.is_super_user -%}
                                    <a href="{{ url_for('flicket_bp.domain_edit', domain_id=c.id) }}"
                                       title="edit">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="{{ url_for('flicket_bp.delete_domain', domain_id=c.id) }}"
                                       title="delete">
                                        <i class="fas fa-trash" style="color: red"></i>
                                    </a>
                                {%- endif -%}
                            {%- endfor -%}
                            {%- if g.user.is_admin or g.user.is_super_user -%}
                                <a href="{{ url_for('flicket_bp.domains', team_id=d.id) }}">
                                    <i class="fas fa-plus"></i>
                                </a>
                            {%- endif -%}
                        </div>
                    </div>
                {%- endfor -%}
            </div>

        </div>
    </div>

{% endblock %}
