
<script type="text/javascript">
    $(function () {
        $('#autocomplete-institute_domain').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/flicket-api/institute_domains/',
                    datatype: 'json',
                    headers: {
                        'Authorization' : 'Bearer {{ g.user.token }}'
                    },
                    data: {
                        institute_domain: request.term
                    },
                    success: function (data) {
                        console.log(data.items);
                        response($.map(data.items, function (item) {
                            return {
                                label: item.institute_domain,
                                value: item.institute_domain
                            }
                        }));
                    }
                })
            },
            minLength: 3
        });
    });
</script>

