<script type="text/javascript">

    $(document).ready(function () {
        $.ajax({
            url: '/flicket-api/instruments/',
            datatype: 'json',
            headers: {
                'Authorization': 'Bearer {{ g.user.token }}'
            },
            success: function (data) {
                // use uri.js to pass the page uri
                var result = URI.parseQuery(document.URL);

                // get value of requester in uri
                result = result.query;
                result = URI.parseQuery(result).instrument;
                // populate the status selection inputs
                var instrument = document.getElementById('instrument');
                // $(instrument).empty();
                // $(instrument).append($('<option></option>').text('--requester role--').val('0'));
                // // Load the new options
                // for (var i = 0; i < data._meta.total_items; i++) {
                //    var instrument_id = data.items[i].id;
                //    var instrument_name = data.items[i].instrument;
                //    $(instrument).append($('<option></option>').text(instrument_name).val(instrument_id));
                //}

                // set the preselected value
                // if (result) {
                //     // find id of instrument
                //     for (var item in data.items) {
                //         var s = data.items[item].instrument;
                //         if (s === result) {
                //             var instrument_id = data.items[item].id
                //         }
                //     }
                //     $(instrument).val(instrument_id)
                // }
            }
        });
    })
</script>
