<script type="text/javascript">

    $(document).ready(function () {
        $.ajax({
            url: '/flicket-api/institutes/',
            datatype: 'json',
            headers: {
                'Authorization': 'Bearer {{ g.user.token }}'
            },
            success: function (data) {

                // use uri.js to pass the page uri
                var result = URI.parse(document.URL);
                // get value of institute in uri
                result = result.query;
                result = URI.parseQuery(result).institute;

                // populate the institute selection inputs
                var institute = document.getElementById('institute');
                $(institute).empty();
                $(institute).append($('<option></option>').text('--institutes--').val('0'));
                for (var i = 0; i < data._meta.total_items; i++) {
                    var dep_id = data.items[i].id;
                    var dep_name = data.items[i].institute;
                    $(institute).append($('<option></option>').text(dep_name).val(dep_id));
                }

                // set the preselected value
                if (result) {
                    // find id of institute
                    for (var item in data.items) {
                        var d = data.items[item].institute;
                        if (d === result) {
                            var institute_id = data.items[item].id
                        }
                    }
                    $(institute).val(institute_id)
                }

            }
        });
    })
</script>