alembic
appdirs
bcrypt
blinker
cffi
click
coverage
Flask
Flask-Babel
Flask-Login
Flask-HTTPAuth
Flask-Mail
Flask-Migrate
Flask-PageDown
Flask-Principal
Flask-Script
Flask-SQLAlchemy
Flask-WTF
itsdangerous
Jinja2
Mako
MarkupSafe
Markdown
marshmallow
marshmallow-jsonapi
mimesis
packaging
plotly
pycparser
pyparsing
six
sqlalchemy
psycopg2
Werkzeug
WTForms
